<section class="block-business">
    <div class="main-block">
        <div class="sub1">
            <div class="supersub">
<div class="block1">
    <img src="assets/img/Get Paid Instantly.png"/>
    <p class="quick-text1">Quick cash disbursment</p>
    <p class="quick-text2">Get terms loans that your business needs<br> within 72 hrs</p>
</div>
<div class="block1">
    <img src="assets/img/Low interest rate.png"/>
    <p class="quick-text1">Low-interest rate</p>
    <p class="quick-text2">Achieve your financial goals with an<br> amazing interest rate starting at 13% per<br> annum</p>
</div>
<div class="block1">
    <img src="assets/img/Secure Payments.png"/>
    <p class="quick-text1">Zero Paperwork</p>
    <p class="quick-text2">Get started instantly by submitting only<br> your basic details & bank statements</p>
</div>
            </div>


<div class="block-business2">
    <div class="block1">
        <img src="assets/img/freelancer_feature_icon_6@1.5x.png"/>
        <p class="quick-text1">Zero Paperwork</p>
        <p class="quick-text2">Get started instantly by submitting only<br> your basic details & bank statements</p>
    </div>
    <div class=" block1">
    <img src="assets/img/Covid.png"/>
    <p class="quick-text1">Loans to fight COVID-19</p>
    <p class="quick-text2">Zero EMI for first 3 months on Back-to-<br>Business loans of upto 1 lakh</p>
    </div>
</div>
</div>


        <div class="sub2">
    <div class="sub2-text">
<p class="sub2-banner-text">Boost your business with open <br></p>
<p class="sub2-banner-text2"><br>Get your hands on a term loan that’s crafted for your business</p>
<button type="button">Get an Open Account</button>
</div>
</div>
</div>
</section>
