
.header {
  overflow: hidden;
  /*padding: 20px 10px;*/
}
.logo{
  margin-top: 27px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}
.header a:hover {
  color: #663399;
}

.header-right {
  margin-left: 1030px;
  margin-top: 68px;

}
.button1{
  top: 63px;
  left: 1480px;
  width: auto;
  height: 45px;
  border: 2px solid #663399;
  border-radius: 24px;
  margin-left: 10px;
  margin-right: 10px;
  text-wrap: normal;
  background-color: transparent;
  box-shadow: 0 0 20px #00000033;
  text-align: center;
  letter-spacing: 0;
  color: #663399;
  opacity: 1;
}

.button1 a{
  color:#663399;
}

.button1 a:hover{
  color: white;
}

.button1:hover{
  background-color: #663399;
}


.button2 {
  top: 63px;
  left: 1480px;
  width: auto;
  height: 45px;
  border: 2px solid #663399;
  border-radius: 24px;
  background-color: transparent;
}

